.footer {
  background: #f4f4f4;
  height: 100%;
}
.social {
  display: flex;
  padding-bottom: 18px;
  padding-top: 18px;
}
.social li {
  list-style-type: none;
  color: #666;
  padding: 3px 1px;
  margin-left: 15px;
  font-size: 14px;
}
.social svg {
  font-size: 22px;
}
.links {
  border-top: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-evenly;
}
.sky,
.channels,
.partners,
.sites {
  width: 135px;
}

.sky,
.channels,
.partners,
.sites li:hover {
  background: #cdcdcd;
}
