.footer {
  background: #f4f4f4;
  height: 100%;
  margin-top: 3%;
  padding: 18px 180px;
}
.social {
  display: flex;
  margin-left: -1%;
  padding: 8px 0px;
}
.social li {
  list-style-type: none;
  color: #666;
  padding: 3px 1px;
  margin-left: 15px;
  font-size: 14px;
}
.social li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.social svg {
  font-size: 22px;
}
.links {
  border-top: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  padding: 12px 8px;
  border-bottom: 1px solid #dcdcdc;
}
.link_text {
  list-style-type: none;
  color: #666;
}
.link_text li {
  font-weight: 200;
  font-size: 14px;
  padding: 3px 0;
}
.link_text li:hover {
  background: #cdcdcd;
  text-decoration: underline;
  cursor: pointer;
}
.title {
  font-weight: 300;
}
.rights {
  display: flex;
  margin-left: -2%;
}
.rights li {
  list-style-type: none;
  margin-left: 18px;
  padding-top: 22px;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 1%;
}
.foot_logo {
  padding-top: 6px;
  padding-bottom: 1%;
}
.foot_logo li {
  list-style-type: none;
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 18px 0px;
  }
  .links {
    flex-wrap: wrap;
  }
  .link_text {
    width: 100%;
    margin: 5px 0px;
  }
  .rights {
    flex-wrap: wrap;
  }
  .rights li {
    font-size: 13px;
  }
  .foot_logo {
    padding: 3px 12px;
  }
}
@media only screen and (max-width: 1050px) {
  .footer {
    padding: 18px 10px;
  }
  .links {
    width: 100%;
  }
  .link_text {
    width: 100%;
    margin: 5px 0px;
  }
  .rights {
    flex-wrap: wrap;
  }
  .rights li {
    font-size: 13px;
  }
  .foot_logo {
    padding: 3px 2px;
  }
}