.root {
  height: 320px;
  width: 275px;
  background: #dcdcdc;
  padding: 4px;
  border-radius: 3px;
  margin: 15px 18px;
}
@media only screen and (max-width: 450px) {
  .root {
    background: #fff;
  }
}
@media only screen and (max-width: 576px) {
  .root {
    height: 120px !important;
    width: 100% !important;
    margin: 0;
    margin-top: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .root {
    height: 90%;
    width: 98%;
    margin: 0px;
    margin-top: 14px;
  }
}