.banner {
  height: 80%;
  width: 94%;
  margin: 3% 20px;
  background: #dcdcdc;
  padding: 4px;
}
.banner_content {
  background: #fff;
  display: flex;
}
.img {
  height: 100%;
  width: 70%;
}
.banner_details {
  width: 30%;
  background: #ffe000;
  padding: 3% 20px;
}
.banner_sport {
  margin-top: 8%;
}
.banner_details div {
  margin-top: 20%;
}
.contestants {
  padding-bottom: 8%;
  width: 100%;
  height: 88px;
}
.bookings {
  margin-top: 5%;
}
.bookings p:nth-child(2) {
  margin-top: -3%;
}
/* banner section ends here */
@media only screen and (max-width: 576px) {
  .banner {
    margin: 0;
    width: 100%;
  }
  .banner_content {
    flex-wrap: wrap;
    width: 100%;
  }
  .img {
    width: 100%;
  }
  .banner_details {
    width: 100%;
  }
  .banner_details div {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .banner_content {
    width: 100%;
    flex-wrap: wrap;
  }
  .img {
    width: 100%;
  }
  .banner_details {
    width: 100%;
  }
  .banner_details div {
    margin-top: 3%;
  }
}