.news_sect {
  margin-top: 2%;
  padding: 0 180px;
}
/* cards section starts here */
.content_area {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-bottom: 5%;
}
.headline_img {
  width: 100%;
}
.details {
  margin: 25px;
  height: 160px;
  width: 85%;
  padding-top: 8px;
}
.sport {
  font-size: 14px;
  color: #3157a1;
  padding: 2.8px 0px;
}
.sport:hover {
  cursor: pointer;
  text-decoration: underline;
}
.txt {
  color: #4a4a4a;
  font-size: 18px;
  margin-top: -3%;
  font-weight: 300;
}
/* live sports section starts here */
.live {
  margin: 8% 0px;
  padding: 12px 5px;
  height: 100%;
}
.live h3 {
  font-weight: 300;
  padding: 0px 12px;
}
#card {
  height: 260px;
  width: 280px;
  background: #dcdcdc;
  padding: 4px;
  margin: 15px;
}
.live_content {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-bottom: 12%;
  padding: 8px 18px;
}
.live_content h4 {
  height: 60px;
}
.live_content img {
  margin-bottom: 2%;
}
.muted {
  margin-top: 10px;
  color: #4a4a4a;
}
.mute {
  margin-top: -5%;
  padding-bottom: 1%;
  color: #4a4a4a;
}
.live_content p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.live_content h4:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* live sports section ends here */
@media only screen and (max-width: 768px) {
  .news_sect {
    padding: 10px 20px;
    margin: 0;
  }
  .details {
    padding: 0px;
    width: 85%;
  }
  .txt {
    padding-top: 3%;
    font-size: 30px;
  }
  .sport {
    font-size: 18px;
  }
  .live {
    padding: 12px 0px;
  }
  .content_area img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .news_sect {
    padding: 0px !important;
  }
  .txt{
    font-size: 14px;
    width: 100%;
  }
  .details {
    padding-top: 9px;
    width: 85%;
    height: 100%;
    margin-top: -1px;
  }
  .content_area {
    display: flex;
  }
  .img_cont {
    width: 86px;
    height: 86px;
    margin-left: 5px;
  }
  .img_cont img {
    width: 100px;
    height: 100%;
    margin-top: 12px;
  }
  #card {
    height: 210px;
    width: 100%;
    margin: 7px 0px;
  }
  .muted_txt {
    display: flex;
    margin-top: 1%;
  }
  .live_content h4 {
    height: 48px;
    width: 100%;
    margin-top: -1%;
  }
  .mute {
    margin-top: 11px;
    padding-bottom: 0%;
  }
  .live {
    padding: 12px 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .news_sect {
    padding: 0px 25px;
  }
}
@media only screen and (max-width: 1050px) {
  .live {
    padding: 12px 0px;
  }
}